# ignore virtual enviornment for yolo 
yolovenv/
# ignore .pt files
*.pt

!.gitignore
.vscode
typings/ultralytics
typings/moveit
typings/moveit_commander
typings/moveit_msgs
__pycache__

grace_figures/figures

out