<launch>
    <arg name="sim" default="true"/>
    <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->

    <!-- IF NOT IN SIM DO NONSIM GMAPPING -->
    <group unless="$(arg sim)">
        <!-- Gmapping -->
        <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
        <include file="$(arg custom_gmapping_launch_file)">
            <param name="maxRange" value="10.0"/>
            <param name="maxUrange" value="10.0"/>
            <param name="minimumScore" value="200"/>
            <param name="particles" value="80"/>
            <param name="srr" value="0.1"/>
            <param name="srt" value="0.2"/>
            <param name="str" value="0.1"/>
            <param name="stt" value="0.2"/>
            <param name="linearUpdate" value="1.0"/>
            <param name="angularUpdate" value="0.5"/>
            <param name="resampleThreshold" value="0.5"/>
            <param name="temporalUpdate" value="1.0"/>
            <param name="scan_topic" value="/scan" />
        </include>

        <!-- Move base -->
        <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/$(arg 3d_sensor)_costmap_params.yaml"/>
        <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
            <arg name="custom_param_file" value="$(arg custom_param_file)"/>
        </include>
    </group>

    <!-- IF IN SIM DO SIM GMAPPING -->
    <group if="$(arg sim)">
        <!-- 3D sensor -->
        <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
            <arg name="rgb_processing" value="false" />
            <arg name="depth_registration" value="false" />
            <arg name="depth_processing" value="false" />
            <arg name="scan_topic" value="/scan" />
        </include>

        <!-- Gmapping -->
        <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
        <include file="$(arg custom_gmapping_launch_file)">
            <param name="maxRange" value="10.0"/>
            <param name="maxUrange" value="10.0"/>
            <param name="minimumScore" value="200"/>
            <param name="particles" value="80"/>
            <param name="srr" value="0.1"/>
            <param name="srt" value="0.2"/>
            <param name="str" value="0.1"/>
            <param name="stt" value="0.2"/>
            <param name="linearUpdate" value="1.0"/>
            <param name="angularUpdate" value="0.5"/>
            <param name="resampleThreshold" value="0.5"/>
            <param name="temporalUpdate" value="1.0"/>
            <param name="scan_topic" value="/scan" />
        </include>

        <!-- Move base -->
        <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
    </group>
</launch>