<launch>
    <arg name="sim" default="true" doc="set flags to indicate this turtle is run in simulation mode." />
    <arg name="gmapping" default="false" />
    <arg name="teleop" default="false" doc="set flags to indicate if the turtle should be run in teleoperation mode." />
    <arg name="explore" default="false"/>
    <arg name="amcl" default="false"/>
    <arg name="yolo" default="false" doc="set flags to indicate that YOLO should run." />
    <arg name="map_file" default="$(find grace)/maps/my_map.yaml"/>
    <arg name="show_gazebo" default="true" doc="set flags to indicate if the gazebo gui should be shown. Disabling improves performance on slower machines." />

    <group if="$(arg sim)">
        <!-- Launch the TurtleBot world if simulation-->
        <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
            <arg name="world_file" value="$(find grace)../aws-robomaker-small-house-world/worlds/small_house.world" />
            <arg name="gui" value="$(arg show_gazebo)" />
        </include>
    </group>

    <!-- Launch the Gmapping -->
    <group if="$(arg gmapping)"> 
        <include file="$(find grace)/launch/gmapping.launch">
            <arg name="sim" value="$(arg sim)"/>
        </include>
            <!-- Explore frontiers in gmapping mode TODO-->
        <!-- <include file="$(find grace)/launch/explore.launch"> </include>-->
    </group>

    <!-- Launch AMCL -->
    <group if="$(arg amcl)">
        <include file="$(find grace)/launch/amcl.launch">
            <arg name="map_file" value="$(arg map_file)"/>
            <arg name="sim" value="$(arg sim)"/>
        </include>
    </group>

    <!-- Launch YOLO -->
    <group if="$(arg yolo)">
        <node name="yolo_detect" pkg="grace" type="yolo_detect.py" output="screen" />
        <node name="semantic_slam" pkg="grace" type="semantic_slam_marker.py" output="screen" />
        <!-- <node name="add_marker" pkg="grace" type="add_marker.py" output="screen" /> -->
    </group>

    <!-- Launch RViz for navigation visualizations--> 
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

    <group if="$(arg teleop)">
        <!-- Launch keyboard teleoperation -->
        <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>
    </group>

    <node name="GraceNode" pkg="grace" type="grace_node.py" output="screen"></node>
</launch>