<launch>
    <arg name="sim" default="true"/>
    <arg name="gmapping" default="false"/>
    <arg name="teleop" default="false"/>
    <arg name="explore" default="true"/>
    <arg name="amcl" default="false"/>
    <arg name="map_file" default="$(find grace)/maps/my_map.yaml"/>

    <group if="$(arg sim)">
        <!-- Launch the TurtleBot world if simulation-->
        <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
            <arg name="world_file" value="$(find grace)../aws-robomaker-small-house-world/worlds/small_house.world"/>
        </include>
    </group>

    <!-- Launch the Gmapping -->
    <group if="$(arg gmapping)"> 
        <include file="$(find grace)/launch/gmapping.launch">
            <arg name="sim" value="$(arg sim)"/>
        </include>
            <!-- Explore frontiers in gmapping mode TODO-->
        <!-- <include file="$(find grace)/launch/explore.launch"> </include>-->
    </group>

    <!-- Launch AMCL -->
    <group if="$(arg amcl)">
        <include file="$(find grace)/launch/amcl.launch">
            <arg name="map_file" value="$(arg map_file)"/>
            <arg name="sim" value="$(arg sim)"/>
        </include>
    </group>

    <!-- Launch RViz for navigation visualizations--> 
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

    <group if="$(arg teleop)">
        <!-- Launch keyboard teleoperation -->
        <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>
    </group>
</launch>